# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Data_Structrues_And_Algorithms_C\Data_Structures_And_Algorithms_C\quick_sort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
